.guess-row {
  display: grid;
  grid-template-columns: repeat(9, minmax(80px, 1fr));
  gap: 6px;
  margin-bottom: 6px;
  width: fit-content;
  min-width: 100%;
}

.guess-row--win {
  border-radius: 8px;
  animation: winGlow 2s ease 1s infinite alternate both;
}

/* @media (max-width: 768px) {
  .guess-row--win {
    width: fit-content;
  }
} */

@keyframes winGlow {
  0%   { box-shadow: none; }
  1% { box-shadow: 0 0 4px 2px rgba(212, 222, 74, 0.3); }
  100%   { box-shadow: 0 0 10px 6px rgba(222, 212, 74, 0.6); }
}