.footer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 48px;
  /* color: var(--color-border); */
  text-align: left;
  gap: 8px;
  max-width: 900px;
}

.change-log {
  animation: slideDown 0.15s ease;
}
.change-log td {
  vertical-align: top;
  font-size: 0.8rem;
  padding: 0 0 10px 5px;
}

.change-log td:nth-child(odd) {
  width: 1px;
  white-space: nowrap;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-6px); }
  to   { opacity: 1; transform: translateY(0); }
}

.footer p {
  font-size: 1rem;
  margin: 0;
}

.footer li {
  font-size: 0.8rem;
  margin-left: 2rem;
}

.footer .privacy {
    font-size: 0.8rem;
}

a {
  color: var(--text-color);
}